/* Layout */
body {
    font-family: 'Raleway', sans-serif;
    color: white;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, [col] 22rem ) ;
    grid-template-rows: repeat(3, [row] auto  );
}

/* Search Component */
input {
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.2),
        0 15px 40px rgba(0, 0, 0, 0.2);
    color: black;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input::placeholder {
    color: black;
}

input:focus {
    outline: none;
}

/* ID component */
.id{
    font-size: 2rem;
    grid-column: col 1/ span 1;
    grid-row: row 1;
    justify-self: center;
}

/* Logo component */
.logo {
    grid-column: col 5/ span 1;
    grid-row: row 1;
    place-self: center center;
}

.logo img{
    width: 13rem;
    height: auto;
}

/* Title Img Component */
.titleCard {
    grid-column: col 1 / span 4;
    grid-row: row 2;
    padding-left: 2rem;

    display:grid;
}

.titleCard .japName{
    font-size: 13rem;
    letter-spacing: -10px;
    line-height: 2;
    font-weight: 500;
    grid-column: col 1/ span 4;
    grid-row: row 1;
    
}

.titleCard .titleImg{
    grid-column: col 2/ span 4;
    grid-row: row 1;
    place-self: start start;
}

.titleCard .titleImg img{
    height: auto;
    width: 35rem;
    image-rendering: auto;
    
}

/* Physical Description Component */
.physicalDesc{
    grid-column: col 1 / span 1;
    grid-row: row 2;
    place-self: end end;
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    padding-right: 2rem;
    padding-bottom: 3rem;
}

.physicalDesc div{
    padding-bottom: 0.5rem;
}

/* Region */
.region {
    grid-column: col 3 / span 1;
    grid-row: row 2;
    place-self: end end;
    font-size: 1.4rem;
    padding-right: 1rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* Type */
.type {
    grid-column: col 4 / span 2;
    grid-row: row 2;
    place-self: center center;
    padding-bottom: 8rem;
}

.type img{
    padding-right: 1rem;
}

/* Stats */
.statsDesc {
    grid-column: col 4 / span 2;
    grid-row: row 2;
    place-self: end center;
    padding-bottom: 5rem;
    padding-right: 5rem;
}

.statsDesc .stats{
    display:flex;
    flex-flow: column wrap;
    font-size: 1.4rem;
    max-height: 7rem;
    padding-right: 5rem;
}

.statsDesc .stats span{
    padding-right: 30px;
    padding-top: 10px;
}











