/* Layout */
body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

/* For mobile */
#wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, [col-start] 1fr);
    justify-items: center;
}
/* 
@media only screen and (min-width: 1024px) {
    main{
        grid-template-columns: repeat(12, [col-start] 1fr);
    }
} */

/* Logo component */
.logo {
    grid-column: col-start 1/ span -1;
    grid-row: 1;
}

.logo img{
    width: 13rem;
    height: auto;
    padding-bottom: 2rem;
}

/* Search Component */
input {
    font-family: inherit;
    font-size: 1.2rem;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.2),
        0 15px 40px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input::placeholder {
    color: #808080a1;
}

input:focus {
    outline: none;
}

/* ID component */
.id{
    grid-column: col-start 1 / span -1;
    grid-row: 2;
    place-self: start;
    font-size: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
}


/* Title Img Component */
.titleCard {
    /* For Parent */
    grid-column: col 1 / span -1;
    grid-row: 3;
    /* For Children */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.titleCard .japName{
    grid-column: col 1/ span 4;
    grid-row: row 1;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: -10px;
}

.titleCard .titleImg{
    grid-column: col 2/ span 4;
    grid-row: row 1;
}

.titleCard .titleImg img{
    height: auto;
    width: 20rem;
    image-rendering: auto;
}

/* Region */
.region {
    grid-column: col 1 / span -1;
    grid-row: 4;
    font-size: 1.4rem;
}

/* Physical Description Component */
.physicalDesc{
    grid-column: col 1 / span -1;
    grid-row: 5;
    visibility: hidden;
}

/* Type */
.type {
    grid-column: col 1 / span -1;
    grid-row: 6;
    padding-bottom: 1.5em; 
}

.type img:nth-child(2){
    padding-left: 1em;
}
/* Stats */
.statsWrapper {
    grid-column: col 1 / span -1;
    grid-row: 7;
}

.statsWrapper #statsLabel{
    text-align: center;
    padding-bottom: 1em;
}
.statsWrapper #statsRow{
    display:flex;
    font-size: 1em;
}

#statsRow .statsColumn{
    /* For Parent */
    flex: 1 0 50%;
    padding: 10px;
    overflow: hidden;
    /* For Child */
    display:flex;
    flex-flow: column wrap;
}

#statsRow .statsColumn span{
    padding-bottom: 0.5em;
    padding-right: 1.5em;
}














